main {
    width: 60%;
}

img {
    width: 16px;
}

.control-panel {
    margin: 20px 0;
}

.select-options {
    width: auto;
    margin: 0 12px;
}

.error-block {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.error-message {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #FFC107;
    padding: 8px 0;
    width: 68.5%;
    font-size: 18px;
}

.err-active {
    display: flex;
}

.valid-error {
    box-shadow: 0 0 5px 1px red;
}

/* Стили таблицы */

tr {
    vertical-align: middle;
}

.main-check,
.item-checkbox {
    background-color: #DFE2E6;
}

.status {
    display: flex;
    justify-content: center;
}

.status-indicator {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: gray;
}

.active {
    background-color: green;
}

.btn-outline-secondary {
    font-size: 15px;
    padding: 0 5px;
}

/* === Адаптация под телефон === */
@media screen and (max-width: 900px) {
    .content {
        width: 100%;
    }
}