main {
    width: 60%;
}

img {
    width: 16px;
}

.control-panel {
    margin: 20px 0;
}

.select-options-header,
.select-options-footer {
    width: auto;
    margin: 0 12px;
}

.error-block {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.error-message {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #FFC107;
    padding: 8px 0;
    width: 68.5%;
    font-size: 18px;
}

/* Стили ячеек таблицы */

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: none;
}

.main-check,
.item-checkbox {
    background-color: #DFE2E6;
}

.status-active {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.active-1 {
    background-color: green;
}

.active-0 {
    background-color: gray;
}

.btn-outline-secondary {
    font-size: 15px;
    padding: 0 5px;
}